<!DOCTYPE html>
<html>
<head>
	<title>Braille information for {{ dot_word.unicode }}</title>

<meta charset="utf8">
<style type="text/css">

ul.translations > li {
	display: block;
	width: 20em;
	text-align: center;
	float: left;
	min-height: 4em;
	margin-bottom: 0.3em;
}

ul.translations > li > em {
	font-size: 200%;
}

ul.translations > li > div.detail {
	font-size: 60%;
}

table.layout td {
	margin: 0;
	padding: 0;
}

table.layout tr.hide-8dot {
	visibility: hidden;
}

table.layout:hover tr.hide-8dot {
	visibility: visible;
}

</style>

</head>
<body>

<h1>Braille information for {{ dot_word.unicode }} ({{ dot_word.numbers }})</h1>

<div class="nav">
<table class="layout">
<tr>
<td><a href="{{ dot_word.toggle(1) }}.html">{% if dot_word.is_set(1) %}⚫{% else %}⚪{% endif %}</a></td>
<td><a href="{{ dot_word.toggle(4) }}.html">{% if dot_word.is_set(4) %}⚫{% else %}⚪{% endif %}</a></td>
</tr><tr>
<td><a href="{{ dot_word.toggle(2) }}.html">{% if dot_word.is_set(2) %}⚫{% else %}⚪{% endif %}</a></td>
<td><a href="{{ dot_word.toggle(5) }}.html">{% if dot_word.is_set(5) %}⚫{% else %}⚪{% endif %}</a></td>
</tr><tr>
<td><a href="{{ dot_word.toggle(3) }}.html">{% if dot_word.is_set(3) %}⚫{% else %}⚪{% endif %}</a></td>
<td><a href="{{ dot_word.toggle(6) }}.html">{% if dot_word.is_set(6) %}⚫{% else %}⚪{% endif %}</a></td>
</tr><tr class="extended {% if not dot_word.is_8_dot() %}hide-8dot{% endif %}">
<td><a href="{{ dot_word.toggle(7) }}.html">{% if dot_word.is_set(7) %}⚫{% else %}⚪{% endif %}</a></td>
<td><a href="{{ dot_word.toggle(8) }}.html">{% if dot_word.is_set(8) %}⚫{% else %}⚪{% endif %}</a></td>
</tr>
</table>
</div>

<h2>Basic information</h2>

<table>
<tr><th>Dot pattern</th><td>{{ dot_word.numbers }}</td></tr>
<tr><th>Decade</th><td>{{ dot_word.decade }}</td></tr>
<tr><th>Unicode</th><td><a href="https://codepoints.net/U+{{ dot_word.unicode_number_hex }}">U+{{ dot_word.unicode_number_hex }}</a></td></tr>
</table>

<h2>Meanings</h2>

<ul class="translations">
{% for abc in rules_by_abc %}
	<li>
	<em>{{ abc.abc }}</em>
	<div class="detail">
		{% for rule in abc.rules %}<dfn title="{{ rule.table }}: {{ rule.opcode }}">{{ rule.locale }}</dfn>{% if not loop.last %}, {% endif %}{% endfor %}
	</div>
	</li>
{% endfor %}
</ul>

</body>
</html>
