<!DOCTYPE html>
<html>
<head>
	<title>Braille information for {{ dot_word.unicode }}</title>

<meta charset="utf8">
<style type="text/css">

ul.translations > li {
	display: block;
	width: 20em;
	text-align: center;
	float: left;
	min-height: 4em;
	margin-bottom: 0.3em;
}

ul.translations > li > em {
	font-size: 200%;
}

ul.translations > li > div.detail {
	font-size: 60%;
}

table.layout td{
	margin: 0;
	padding: 0;
}

</style>

</head>
<body>

<h1>Braille information for {{ dot_word.unicode }} ({{ dot_word.numbers }})</h1>

<div class="nav">
<table class="layout">
<tr>
<td>{% if dot_word.is_set(1) %}⚫{% else %}⚪{% endif %}</td>
<td>{% if dot_word.is_set(4) %}⚫{% else %}⚪{% endif %}</td>
</tr><tr>
<td>{% if dot_word.is_set(2) %}⚫{% else %}⚪{% endif %}</td>
<td>{% if dot_word.is_set(5) %}⚫{% else %}⚪{% endif %}</td>
</tr><tr>
<td>{% if dot_word.is_set(3) %}⚫{% else %}⚪{% endif %}</td>
<td>{% if dot_word.is_set(6) %}⚫{% else %}⚪{% endif %}</td>
</tr><tr>
<td>{% if dot_word.is_set(7) %}⚫{% else %}⚪{% endif %}</td>
<td>{% if dot_word.is_set(8) %}⚫{% else %}⚪{% endif %}</td>
</tr>
</table>
</div>

<h2>Translations</h2>

<ul class="translations">
{% for abc in rules_by_abc %}
	<li>
	<em>{{ abc.abc }}</em>
	<div class="detail">
		{% for rule in abc.rules %}<dfn title="{{ rule.table }}: {{ rule.opcode }}">{{ rule.locale }}</dfn>{% if not loop.last %}, {% endif %}{% endfor %}
	</div>
	</li>
{% endfor %}
</ul>

</body>
</html>
